*{
    background-color: black;
}
div {
    text-align: center;
    
}

button {
    height: 40px;
    width: 80px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;

}

.iniciar {
    background-color: green;
    
}

.iniciar:hover {
    background-color: #47e647;

}

.pausa {
    background-color: #52524d;
}

.pausa:hover {
    background-color: rgb(180, 180, 171);
}

.resetar {
    background-color: red;
}

.resetar:hover {
    background-color: rgb(231, 76, 76);
}
h1 {
    font-size: 45px;
    color: antiquewhite;
}